checkpoints*/
Levir-CC-dataset/
.venv/
.vscode/
venv/
SETUP.md
.DS_Store
Detailed Implementation Flow of the Proposed Framework.pdf
Independent_Study_project.pdf
SECOND-CC-AUG/
*.pdf
!CodeAug.pdf
__pycache__/
*/__pycache__/
*/**/__pycache__/
*.pyc
*_output.ipynb
.*
.claude/*
